h2{
    background-color: aqua;
    text-align: center;
    color: gold;
}

.xxx{
    color: red;
}

.yyy{
    font-size: 40px;
}

.target{
    background: silver;
    box-sizing: border-box;
    padding: 10px;
    border: 10px solid blue;
}