body{
    display: flex;
    justify-content: center;
}

.wrap{
    width: 1440px;
    min-height: 600px;
}

.menu{
    display: flex;
    border-bottom: 1px solid #C4C4C4;
}

.menu_left{
    width: 720px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_left > a {
    color: black;
    text-decoration: none;
    margin-right: 25px;
}

.menu_right{
    width: 720px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_right > a {
    font-size: 23px;
    color: #C4C4C4;
    text-decoration: none;
    margin-left: 30px;
    transition: 300ms;
}

.menu_right > a:hover{
    color: #087DE4;
}

.reviews{
    margin-top: 70px;
}

.reviews-box{
    display: flex;
    justify-content: space-evenly;
}

.reviews > h2{
text-transform: uppercase;
margin-bottom: 25px;
text-align: center;
font-weight: 700;
}

.review {
    width: 302px;
}

.review > h4 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.review > p {
    padding-left: 20px;
    border-left: 1px solid #ED8651;
}

.footer{
    height: 100px;
    background: #00A8F0;
    margin-top: 200px;
}

.directions > h2{
margin-top: 45px;
margin-left: 200px;
margin-bottom: 105px;
}

.directions-box{
    display: flex;
    justify-content: center;
}

.direction{
    width: 295px;
    margin-right: 55px;
}
.direction > h4{
    font-size: 21px;
    display: flex;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 55px;
}

.direction > p {
    font-size: 14px;
    border-top: 1px solid #ED8651;
    padding-top: 30px;
    margin-bottom: 110px;
}
